body{
    margin: 0px;
    padding: 0px;
    background-color: #16a085;
}
#gridBg{
    position: relative;
    left: 0px;
    top:0px;
}
.ant{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
}
.food{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #abc123;
}
.home{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #407D94;
}